<aside role="complementary" id="sidebar" class="span4">

  <div id="social">
	<a href="http://feeds.feedburner.com/blog-de-geeek" rel="tooltip external social" id="sidebar:feedburner" title="Suivez le flux RSS" data-delay="100"><img src="{{tpl:BlogThemeURL}}/img/icons/rss.png" alt="rss" height="64" width="64"/></a>
	<a href="http://www.twitter.com/ltoinel" rel="tooltip external social" id="sidebar:twitter" title="Suivez-moi sur Twitter" data-delay="100"><img src="{{tpl:BlogThemeURL}}/img/icons/twitter.png" alt="twitter" height="64" width="64"/></a>
	<a href="http://www.facebook.com/geeek.org" rel="tooltip external social" id="sidebar:facebook" title="Aimez ma page Facebook" data-delay="100"><img src="{{tpl:BlogThemeURL}}/img/icons/facebook.png" alt="facebook" height="64" width="64"/></a>
	<a href="https://plus.google.com/118048771951149920109?rel=author" rel="tooltip external social me" id="sidebar:google plus" title="Rejoignez mon cercle Google+" data-delay="100"><img src="{{tpl:BlogThemeURL}}/img/icons/google.png" alt="google" height="64" width="64"></a>
  </div>

  <div id="blognav">
    {{tpl:Widgets type="nav"}}
  </div> <!-- End #blognav -->
 
</aside>
 

